<form method="POST">
    <label for="username">Username</label> <br />
    <input type="text" id="username" name="username" placeholder="Username" />

    <br />

    <label for="password">Password</label> <br />
    <input type="password" id="password" name="password" placeholder="Password" />

    <br />

    <button type="submit" id="login-btn">L O G I N</button>
</form>