<div id="register-container">
    <form id="register-form" method="POST">
        <label for="username">Username</label> <br />
        <input type="text" id="username" name="username" placeholder="Username" />

        <br />
        <br />

        <label for="password">Password</label> <br />
        <input type="password" id="password" name="password" placeholder="Password" />

        <br />
        <br />

        <button type="submit" id="register-btn">R E G I S T E R</button>
    </form>
</div>